<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code4faster.dbssa.mbg.mapper.ApartmentMapper">
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.Apartment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_name" jdbcType="VARCHAR" property="apartmentName" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="official_phone" jdbcType="VARCHAR" property="officialPhone" />
    <result column="official_mail" jdbcType="VARCHAR" property="officialMail" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="floor_number" jdbcType="INTEGER" property="floorNumber" />
    <result column="number_of_rooms" jdbcType="INTEGER" property="numberOfRooms" />
    <result column="number_of_bedrooms" jdbcType="INTEGER" property="numberOfBedrooms" />
    <result column="number_of_bathrooms" jdbcType="INTEGER" property="numberOfBathrooms" />
    <result column="number_of_public_rooms" jdbcType="INTEGER" property="numberOfPublicRooms" />
    <result column="floor_space" jdbcType="VARCHAR" property="floorSpace" />
    <result column="maximum_rent" jdbcType="INTEGER" property="maximumRent" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="start_date" jdbcType="DATE" property="startDate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.Apartment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment (apartment_name, address, official_phone, 
      official_mail, description, floor_number, 
      number_of_rooms, number_of_bedrooms, number_of_bathrooms, 
      number_of_public_rooms, floor_space, maximum_rent, 
      create_date, start_date, status, 
      create_time)
    values (#{apartmentName,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{officialPhone,jdbcType=VARCHAR}, 
      #{officialMail,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{floorNumber,jdbcType=INTEGER}, 
      #{numberOfRooms,jdbcType=INTEGER}, #{numberOfBedrooms,jdbcType=INTEGER}, #{numberOfBathrooms,jdbcType=INTEGER}, 
      #{numberOfPublicRooms,jdbcType=INTEGER}, #{floorSpace,jdbcType=VARCHAR}, #{maximumRent,jdbcType=INTEGER}, 
      #{createDate,jdbcType=DATE}, #{startDate,jdbcType=DATE}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.Apartment">
    update apartment
    set apartment_name = #{apartmentName,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      official_phone = #{officialPhone,jdbcType=VARCHAR},
      official_mail = #{officialMail,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      floor_number = #{floorNumber,jdbcType=INTEGER},
      number_of_rooms = #{numberOfRooms,jdbcType=INTEGER},
      number_of_bedrooms = #{numberOfBedrooms,jdbcType=INTEGER},
      number_of_bathrooms = #{numberOfBathrooms,jdbcType=INTEGER},
      number_of_public_rooms = #{numberOfPublicRooms,jdbcType=INTEGER},
      floor_space = #{floorSpace,jdbcType=VARCHAR},
      maximum_rent = #{maximumRent,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=DATE},
      start_date = #{startDate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_name, address, official_phone, official_mail, description, floor_number, 
    number_of_rooms, number_of_bedrooms, number_of_bathrooms, number_of_public_rooms, 
    floor_space, maximum_rent, create_date, start_date, status, create_time
    from apartment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_name, address, official_phone, official_mail, description, floor_number, 
    number_of_rooms, number_of_bedrooms, number_of_bathrooms, number_of_public_rooms, 
    floor_space, maximum_rent, create_date, start_date, status, create_time
    from apartment
  </select>
</mapper>