<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code4faster.dbssa.mbg.mapper.ApartmentRoomResidentOwnershipRelMapper">
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_resident_id" jdbcType="INTEGER" property="apartmentResidentId" />
    <result column="apartment_room_id" jdbcType="INTEGER" property="apartmentRoomId" />
    <result column="apartment_resident_reservation_id" jdbcType="INTEGER" property="apartmentResidentReservationId" />
    <result column="apartment_rental_order_id" jdbcType="INTEGER" property="apartmentRentalOrderId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="checkin_time" jdbcType="TIMESTAMP" property="checkinTime" />
    <result column="checkout_time" jdbcType="TIMESTAMP" property="checkoutTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_resident_ownership_rel (apartment_resident_id, apartment_room_id, 
      apartment_resident_reservation_id, apartment_rental_order_id, 
      status, checkin_time, checkout_time
      )
    values (#{apartmentResidentId,jdbcType=INTEGER}, #{apartmentRoomId,jdbcType=INTEGER}, 
      #{apartmentResidentReservationId,jdbcType=INTEGER}, #{apartmentRentalOrderId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{checkinTime,jdbcType=TIMESTAMP}, #{checkoutTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomResidentOwnershipRel">
    update apartment_room_resident_ownership_rel
    set apartment_resident_id = #{apartmentResidentId,jdbcType=INTEGER},
      apartment_room_id = #{apartmentRoomId,jdbcType=INTEGER},
      apartment_resident_reservation_id = #{apartmentResidentReservationId,jdbcType=INTEGER},
      apartment_rental_order_id = #{apartmentRentalOrderId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      checkin_time = #{checkinTime,jdbcType=TIMESTAMP},
      checkout_time = #{checkoutTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_resident_id, apartment_room_id, apartment_resident_reservation_id, 
    apartment_rental_order_id, status, checkin_time, checkout_time
    from apartment_room_resident_ownership_rel
  </select>
</mapper>