<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code4faster.dbssa.mbg.mapper.ApartmentRoomPriceMapper">
  <resultMap id="BaseResultMap" type="com.code4faster.dbssa.mbg.model.ApartmentRoomPrice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="apartment_id" jdbcType="INTEGER" property="apartmentId" />
    <result column="apartment_room_type_id" jdbcType="INTEGER" property="apartmentRoomTypeId" />
    <result column="price" jdbcType="INTEGER" property="price" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apartment_room_price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomPrice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into apartment_room_price (apartment_id, apartment_room_type_id, 
      price)
    values (#{apartmentId,jdbcType=INTEGER}, #{apartmentRoomTypeId,jdbcType=INTEGER}, 
      #{price,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.code4faster.dbssa.mbg.model.ApartmentRoomPrice">
    update apartment_room_price
    set apartment_id = #{apartmentId,jdbcType=INTEGER},
      apartment_room_type_id = #{apartmentRoomTypeId,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, apartment_id, apartment_room_type_id, price
    from apartment_room_price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, apartment_id, apartment_room_type_id, price
    from apartment_room_price
  </select>
</mapper>